.info {
  margin: 10px 20px;
  padding: 10px;
  background-color: var(--light-blue-color);
  border-radius: 8px;

  &__heading {
    margin: 20px 0;
    font-size: 14px;
    font-weight: 500;
  }

  &__data {
    font-size: 12px;
    font-weight: 400;
  }

  &__cta {
    margin: 20px 0;
    color: var(--blue-color);
    font-size: 13px;
    font-weight: 600;
  }
}
